# Node / React
node_modules/
**/node_modules/

# Build výstupy (Netlify si to zbuildí samo)
build/
dist/

# Env a lokálne súbory
.env
.env.*
!.env.example
cookies.txt
login.json

# Logy
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store

*.bak

# Local Netlify folder
.netlify
